<div class="comment">
  <div class="userDetail">
    <%= comment.user.email %>
    <br>
    <%= comment.content %>
    <br>
    <%if can? :update,comment%>
    <%= link_to 'Edit', edit_comment_path(comment) ,params[id: comment.id]%>
    <% end %>.
    <%if can? :destroy,comment%>
    <%= link_to "Delete", comment, method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
  </div>
</div>
